.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 767px) {
  .cover__link {
    gap: 16px;
  }
}   /*макет 320 - мобильная */
