.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  /*сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /*Подгонка размера текста, чтобы при изменении масштаба страницы размер шрифта изменялся пропорционально.*/-webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
}
