.places__place {
  margin-bottom: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 460px minmax(484px, 1fr);
  gap: 48px 40px;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .places__place {
    grid-template-columns: 440px minmax(456px, 1fr);
    gap: 48px 32px;
  }
}   /*макет 1024 - небольш ноут */

@media screen and (max-width: 1023px) {
  .places__place {
    margin-bottom: 73px;
    grid-template-columns: 340px minmax(352px, 1fr);
    gap: 48px 28px;
  }
}   /*макет 768 - планшет*/

@media screen and (max-width: 767px) {
  .places__place {
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}   /*макет 320 - мобильная */
