@import url('../vendor/normalize.css');

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}

/*
.page__section {
  box-sizing: border-box;
  max-width: 1184px;
  margin: 0 auto;
}
*/

/*
.page__section_xl_narrow {
  max-width: 984px;
}
*/

.header {
  /*background-color: #f0f;
  outline: 3px solid #f0f;*/
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-link {
  margin-right: 18px;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  color: #FFFFFF;
}

.header__lang-link:last-child {
  margin-right: 0;
  text-decoration: none;
}

.lead {
  /*background-color: #0ff;
  outline: 3px solid #0ff;*/
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 56px;
}

.lead__title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
 width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px; /*Определяет интервал между символами в пределах элемента.*/
  text-transform: uppercase;
  color: #FFFFFF;

}

.intro {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 92px 148px 92px 148px;
}

.intro__container {
  max-width: 690px;
}

.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
}

.intro__list {
  padding-inline-start: 0; /*убираю сдвиг в <ul> */
  list-style: none;        /*убираю маркер у списка <ul> */
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}

.intro__quantity {
  font-weight: 400;
}


@media screen and (max-width: 1279px) { /*макет 1024*/
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }

  .lead {
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    max-width: 928px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .intro {
    padding-left: 0;
    padding-right: 0;
    max-width: 928px;
  }

  .intro__title {
  }

  .intro__text {
  }

  .intro__list {
  }

  .intro__quantity {
  }
}

@media screen and (max-width: 1023px) { /*макет 768*/
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .lead {
    width: 100%;
  }

  .intro {
    padding: 88px 0 88px 0;
  }

  .intro__container {
    max-width: 720px;
    margin-left: 24px;
  }

  .intro__title {
  }

  .intro__text {
  }

  .intro__list {
  }

  .intro__quantity {
  }
}

@media screen and (max-width: 767px) { /*макет 320*/
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .lead__title {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 1.25;
  }

  .intro {
    padding: 64px 16px 64px 16px;
  }

  .intro__container {
    margin-left: 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__text {
    margin-bottom: 33px;
  }

  .intro__list {
  }

  .intro__quantity {
  }
}





/*
@media screen and (max-width: 1023px) {
  .page__section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page__section_xl_narrow {
  max-width: 1080px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page__section_lg_wide {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__section_md_wide {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .page__section_sm_wide {
    padding-left: 0;
    padding-right: 0;
  }
}
*/
