@import url('../vendor/normalize.css');

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-link {
  margin-right: 18px;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  color: #FFFFFF;
}

.header__lang-link:last-child {
  margin-right: 0;
  text-decoration: none;
}

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
}

.lead__title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
 width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;  /*Определяет интервал между символами в пределах элемента.*/
  text-transform: uppercase;
  color: #FFFFFF;

}

.intro {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 0 92px 0;
}

.intro__container {
  max-width: 690px;
}

.intro__title {
  margin: 0;          /*убираю отступы браузера*/
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
}

.intro__list {
  padding-inline-start: 0; /*убираю сдвиг в <ul> */
  list-style: none;        /*убираю маркер у списка <ul> */
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}

.intro__quantity {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 0 92px 0;
}

.places__place {
  margin-bottom: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 460px minmax(484px, 1fr);
  gap: 48px 40px;
}

.places__place:last-child {
  margin-bottom: 0;
}

.places__title {
  margin: 0;          /*убираю отступы браузера*/
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
}

.places__image {
  max-width: 460px;
}

.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places__url-heading {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.places__url-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.places__url-link:hover {
  opacity: 0.8;
}

.places__paragraph {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

.cover__container {
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  min-height: 740px;
  background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/cover-trains.jpg');
  background-size: cover;
}

.cover__container:hover {
  background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(0, 0, 0, 0.8)),
    url('../images/cover-trains.jpg');
}

.cover__link {
  text-decoration: none;
}

.cover__title {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
}

.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

.footer {
  margin: 0 auto;
  max-width: 1184px;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.footer__links {

}

.footer__link{
  text-decoration: none;
  margin-right: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
}

.footer__author {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}
/*макет 1280 - комп */


@media screen and (max-width: 1279px) {    /*макет 1024 - небольш ноут */
  .header {
    width: calc(100% - 96px);
  }

  .lead {
    padding-top: 48px;
    width: calc(100% - 96px);
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .intro {
    width: calc(100% - 96px);
  }

  .photo-grid {
    width: calc(100% - 96px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .places {
    width: calc(100% - 96px);
  }

  .places__place {
    grid-template-columns: 440px minmax(456px, 1fr);
    gap: 48px 32px;
  }

  .places__image {
    width: 100%;
  }

  .cover__container {
    width: 100%;
    min-height: 640px;
  }

  .footer {
    width: calc(100% - 96px);
  }
} /*макет 1024 - небольш ноут */


@media screen and (max-width: 1023px) {    /*макет 768 - планшет*/
  .header {
    width: calc(100% - 48px);
  }

  .lead {
    width: 100%;
  }

  .intro {
    width: calc(100% - 48px);
    padding: 88px 0 88px 0;
  }

  .intro__container {
    max-width: 720px;
  }

  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .places {
    width: calc(100% - 48px);
    padding: 88px 0 90px 0;
  }

  .places__place {
    margin-bottom: 73px;
    grid-template-columns: 340px minmax(352px, 1fr);
    gap: 48px 28px;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .places__image {
    width: 100%;
  }

  .places__paragraph {
    margin: 0 0 25px;
    font-size: 16px;
  }

  .cover__container {
    min-height: 480px;
  }

  .footer {
    padding: 88px 0 24px 0;
    width: calc(100% - 48px);
  }
} /*макет 768 - планшет*/


@media screen and (max-width: 767px) {    /*макет 320 - мобильная */
  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead__title {
    margin-bottom: 16px;
    width: calc(100% - 32px);
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    margin-bottom: 40px;
    width: calc(100% - 32px);
    font-size: 16px;
    line-height: 1.25;
  }

  .intro {
    width: calc(100% - 32px);
    padding: 64px 0 64px 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .places {
    width: 100%;
    padding: 64px 0 66px 0;
  }

  .places__place {
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .places__title {
    width: calc(100% - 32px);
    margin: 0 auto;
    font-size: 32px;
    line-height: 1.09;
  }

  .places__image {
    max-width: 767px;
    width: 100%;
  }

  .places__website {
    width: calc(100% - 32px);
    margin: 0 auto;
    display: block;
  }

  .places__url-heading {
    margin: 0 0 12px;
  }

  .places__paragraph {
    width: calc(100% - 32px);
    margin: 0 auto 25px;
  }

  .cover__container {
    min-height: 200px;
    gap: 16px;
  }
  .cover__title {
    width: calc(100% - 32px);
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__subtitle {
    width: calc(100% - 32px);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    width: calc(100% - 32px);
    padding: 64px 0 24px 0;
    display: block;
  }

  .footer__links {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
  }

  .footer__link{
    margin-right: 0;
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 1;
  }

  .footer__author {
    font-size: 14px;
    line-height: 1;
  }
} /*макет 320 - мобильная */
